body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

/* Навигация */

.main-nav {
  margin: 0;
  display: flex;
  justify-content: space-between;
  min-height: 55px;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.main-nav .main-header-logo {
  position: absolute;
  left: 50%;
  margin-left: -70px;
}

.site-navigation {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.site-navigation li {
  width: 240px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation current-page {
  color: #766357;
}

/* Контейнер */

.container {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
}

/* Промо на главной странице */
.promo {
  padding-top: 590px;
  text-align: center;
}

.promo p:first-child {
  font-size: 21px;
  line-height: 26px;
}

.promo p:last-child {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

/* Тут разметка необязательной части ТЗ, но если верстать, то пусть стили будут опианы по порядку следования для будущего удобства */

.feature h3 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.feature span,
.feature p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
}

.feature-text {
  background-color: #81b3d2;
  text-align: center;
}

.feature-text h3,
.feature-text span,
.feature-text p {
  color: #ffffff;
}

.list-features {
  list-style: none;
  text-align: center;
  background-color: #eeeeee;
}

.list-features span {
  color: #333333;
}

/*Кнопка и форма поиска гостиницы на главной*/

.search-hotels {
  display: flex;
  flex-direction: column;
  padding: 55px;
}

.search-hotels-form {
  padding-top: 55px;
  text-align: center;
}

.search-hotels-form h2 {
  font-size: 30px;
  line-height: 36px;
}

.search-hotels-form h2 + p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.search-hotels-form .button-search {
  padding: 30px 140px;
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #766357;
  border: none;
}

.search-hotels-form .button-search:hover,
.search-hotels-form .button-search:focus {
  background-color: #604e43;
}

.search-hotels-form .button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-hotels-form fieldset {
  border: none;
}

.search-hotels-form input {
  font: inherit;
  background-color: #f2f2f2;
}

.search-hotels-form input:hover {
  background-color: #ebebeb;
}

.search-hotels-form input:focus {
  background-color: #ffffff;
}

.search-hotels-form .button-submit {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}

.search-hotels-form .button-submit:hover {
  background-color: #669ec0;
}

.search-hotels-form .button-submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/* Карта на главной */

.map-hotels {
  min-height: 473px;
  background-color: green;
  /* временно для карты место занято*/
}

/* Футер */

.main-footer {
  min-height: 120px;
}

.main-footer .container {
  display: flex;
  justify-content: space-around;
}

.main-footer p:first-child {
  font-size: 21px;
  line-height: 26px;
}

.social-links {
  display: flex;
  list-style: none;
}

.social-links a {
  color: #ffffff;
  background-color: #81b3d2;
}

.social-links a:hover {
  background-color: #669ec0;
}

.social-links a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.main-footer p:last-child {
  font-weight: 400;
}

/* Стилизации фильтров на внутренней странице*/

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.select-filters {
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
  background-color: #30626b;
}



.filters button,
.filters input {
  font: inherit;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
}

.filters button:hover {
  color: #000000;
  background-color: #ffffff;
}

.filter-sort legend {
  font-size: 21px;
  line-height: 26px;
}

.filter-sort p {
  font-size: 12px;
  line-height: 18px;
}

.filter-sort ul {
  list-style: none;
}

.filters-sort-type li {
  border-bottom: 1px dotted #81b3d2;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
}

.filters-sort-type li:hover {
  color: #81b3d2;
}

.filters-sort-type .active {
  color: #81b3d2;
  border: none;
}

.filters-sort-type li:active {
  border: none;
  color: #000000;
}

.filters-sort-order {
  color: rgba(0, 0, 0, 0.3);
}

.filters-sort-order .active {
  color: #81b3d2;
}

/*Список гостиниц на странице гостиниц*/

.hotels-items {
  list-style: none;
}

.hotel-items h3 {
  font-size: 21px;
  line-height: 26px;
}

.hotel-items p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.hotel-item-info a {
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
}

.hotel-item-info a:first-of-type {
  background-color: #81b3d2;
}

.hotel-item-info a:first-of-type:hover {
  background-color: #669ec0;
}

.hotel-item-info a:first-of-type:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.hotel-item-info a:last-of-type {
  background-color: #766357;
}

.hotel-item-info a:last-of-type:hover {
  background-color: #604e43;
}

.hotel-item-info a:last-of-type:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotel-item-rate span {
  line-height: 21px;
  font-weight: 400;
  color: #666666;
  background-color: #f2f2f2;
}
