body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/* Навигация */

.main-nav {
  position: relative;
  margin: 0;
  display: flex;
  justify-content: space-between;
  min-height: 55px;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.main-nav .main-header-logo {
  position: absolute;
  left: 600px;
  transform: translate(-50%);
  z-index: 1;
}

.site-navigation {
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.site-navigation li {
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:first-child {
  margin-left: 72px;
  text-align: left;
}

.site-navigation a:last-child {
  margin-right: 72px;
  text-align: right;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation .current-page {
  color: #766357;
}

/* Контейнер */

.container {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  box-shadow:
    5px 0px 15px -3px #dadada,
    -5px 0px 15px -3px #dadada;
}

/* Промо на главной странице */
.promo {
  display: flex;
  position: relative;
  justify-content: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 725px;
  text-align: center;
  background: #798c9a url("../img/promo.jpg") no-repeat 50% 116%;
}

.promo::before {
  position: absolute;
  display: block;
  content: "";
  min-height: 60px;
  width: 100%;
  background: url("../img/mask-welcome.svg") no-repeat 50% 50%;
  top: 450px;
  left: 0;
}

.promo-text {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 50px;
}

.promo p {
  display: block;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 0;
}

.promo p:first-child {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.promo p:last-child {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

/* Преимущества */

.features {
  display: flex;
  flex-wrap: wrap;
}

.feature-1,
.feature-2 {
  display: flex;
}

.feature-1 .feature-image {
  flex-grow: 2;
  background: url("../img/feature-1.jpg") no-repeat 50% 50%;
}

.feature-1,
.feature-2 {
  margin: 0;
  flex-grow: 1;
}

.feature {
  min-height: 256px;
}

.feature h3,
.feature h4 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  margin: 0 75px 5px;
}

.feature-text span,
.list-items span {
  padding: 21px 0 21px;
}

.feature span,
.feature p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  margin: 0;
}

.feature-text,
.list-items .feature {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  box-sizing: border-box;
  padding: 45px 49px 50px;
  text-align: center;
}

.list-items p {
  padding-left: 15px;
  padding-right: 15px;
}

.feature-text {
  background-color: #81b3d2;
}

.feature-text h3,
.feature-text span,
.feature-text p {
  color: #ffffff;
}

.list-features {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* тут я не мог подобрать такой селектор, чтобы подобраться именно к первому списку, написал доп. класс "не-число" */
.not-a-number {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-end;
  padding: 160px 55px 82px;
}

.not-a-number + .not-a-number {
  margin-right: 15px;
}

.not-a-number:before {
  content: "";
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.not-a-number--house::before {
  width: 77px;
  height: 74px;
  background-image: url(../img/list-feature-1-house.svg);
}

.not-a-number--food::before {
  width: 75px;
  height: 71px;
  background-image: url(../img/list-feature-2-food.svg);
}

.not-a-number--suvenir::before {
  width: 65px;
  height: 75px;
  background-image: url(../img/list-feature-3-suvenir.svg);
}

.not-a-number h4 {
  margin-bottom: 26px;
}

.feature-2 .feature-image {
  order: -1;
  flex-grow: 2;
  background: url("../img/feature-2.jpg") no-repeat 50% 50%;
  /* Ниже свойство без которого у картинки белая полоска снизу  */
  background-size: cover;
}

.list-items {
  background-color: #eeeeee;
}

.list-features span {
  color: #333333;
}

/*Кнопка и форма поиска гостиницы на главной*/

.search-hotels-form > p {
  margin-top: 24px;
  margin-bottom: 45px;
}

.search-hotels-form {
  position: relative;
  padding-top: 50px;
  text-align: center;
  box-sizing: border-box;
  z-index: 5;
}

.search-hotels-form button {
  border: none;
  background: none;
  padding: 0;
}

.search-hotels-form h2 {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
}

.search-hotels-form h2 + p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.search-modal {
  display: block;
  position: relative;
  width: 568px;
  margin: 0 auto;
  z-index: 0;
}

.search-hotels {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 53px 55px;
  background-color: #ffffff;
  transform: translateY(-100%);
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
}

.search-hotels-show {
  transform: translateY(0%);
  transition: 0.5s;
  opacity: 1;
}

.search-hotels-error {
  animation: shake 0.6s;
}

.search-hotels-form .button-search {
  padding-top: 31px;
  padding-bottom: 31px;
  position: relative;
  width: 100%;
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #766357;
  border: none;
  z-index: 3;
}

.search-hotels-form .button-search:hover,
.search-hotels-form .button-search:focus {
  background-color: #604e43;
}

.search-hotels-form .button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-hotels-form fieldset {
  display: flex;
  border: none;
  font-weight: wpap;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.search-hotels p {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 29px;
  border: 1px solid transparent;
}

.search-hotels-form input {
  position: relative;
  font: inherit;
  border: none;
  width: 76%;
  background-color: #f2f2f2;
  text-transform: uppercase;
  padding: 6px 35px 6px 12px;
  outline: none;
}

.calendar-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 60px;
  width: 30px;
  height: 30px;
}

.calendar-btn path,
.calendar-btn rect {
  fill: #cacaca;
}

.calendar-btn:hover path,
.calendar-btn:focus path,
.calendar-btn:hover rect,
.calendar-btn:focus rect {
  fill: #000000;
}

.calendar-btn:active path,
.calendar-btn:active rect {
  fill: #81b3d2;
}

.btn-minus,
.btn-plus {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  margin: 0 -6px;
  color: #cacaca;
  font-size: 25px;
  line-height: 0;
  z-index: 1;
}

.btn-minus {
  left: 20px;
}

.btn-plus {
  right: 20px;
}

.btn-minus:hover,
.btn-minus:focus,
.btn-plus:hover,
.btn-plus:focus {
  color: #000000;
}

.btn-minus:active,
.btn-plus:active {
  color: #81b3d2;
}

.number-of-people input {
  box-sizing: border-box;
  width: 114px;
  padding-left: 55px;
}

.number-of-people label:last-of-type {
  box-sizing: border-box;
  padding-right: 0;
  padding-left: 50px;
}

.search-hotels-form input:hover {
  background-color: #ebebeb;
}

.search-hotels-form input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.search-hotels label {
  display: flex;
  min-width: 92px;
  margin-right: 20px;
}

.search-hotels-form .button-submit {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  width: 100%;
  padding: 17px;
  margin-top: 51px
}

.search-hotels-form .button-submit:hover {
  background-color: #669ec0;
}

.search-hotels-form .button-submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/* Анимация ошибки (встряски) для полей ввода, если какое-либо значение пусто */

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

/* Карта на главной */

.map-hotels {
  min-height: 590px;
  background: #00ff00 url("../img/map.jpg") center;
  margin-bottom: -120px;
}

/* Футер */

.main-footer .container {
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  min-height: 120px;
  opacity: 0.9;

}

.main-footer p:first-child {
  margin-left: 20px;
  font-size: 21px;
  line-height: 26px;
}

.social-links {
  display: flex;
  min-width: 150px;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  padding-left: 30px;
  margin: 0;
}

.social-links a {
  display: flex;
  color: #ffffff;
  background-color: #81b3d2;
  width: 45px;
  height: 47px;
  justify-content: center;
  align-items: center;
}

.social-links a:hover,
.social-links a:focus {
  background-color: #669ec0;
}

.social-links a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.social-links .twitter {
  background: #81b3d2 url(../img/social_tw.svg) no-repeat 50% 50%;
}

.social-links .facebook {
  background: #81b3d2 url(../img/social_fb.svg) no-repeat 50% 50%;
}

.social-links .youtube {
  background: #81b3d2 url(../img/social_youtube.svg) no-repeat 50% 50%;
}

.made-by {
  display: flex;
  font-weight: 200;
  align-items: center;
  margin-right: -10px;
}

.made-by a {
  display: flex;
  width: 115px;
  margin-left: 10px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.logo-name path,
.logo-name rect {
  fill: #000000;
}

.logo-name:hover path,
.logo-name:focus path,
.logo-name:hover rect,
.logo-name:focus rect {
  fill: #81b3d2;
}

.logo-name:active path,
.logo-name:active rect {
  fill: #bdbbbc;
}

/************************** Внутренняя страница ****************************/
/* Стилизации фильтров на внутренней странице*/

.select-filters fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 120px;
}

.select-filters fieldset:last-child {
  margin-left: auto;
  margin-right: 0;
  padding-left: 10px;
}

.filters legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.select-filters {
  display: flex;
  justify-content: space-between;
  padding: 27px 70px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
  background-color: #30626b;
  background-image: url(../img/bg-filters.jpg);
  background-position: 50% 16%;
}

.select-filters legend {
  margin-bottom: 25px;
}

.select-filters p {
  padding-left: 42px;
  margin-top: 0;
  margin-bottom: 25px;
}

.select-filters p:last-child {
  margin-bottom: 5px;
}

.filters-check {
  cursor: pointer;
  position: relative;
}

.filters-check::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: -40px;
  background: url(../img/checkbox-off.svg) no-repeat 50% 50%;
}

.checkbox:checked ~ .filters-check::before {
  width: 27px;
  height: 23px;
  background: url(../img/checkbox.svg) no-repeat 50% 50%;
}

/* Сложный фильтр, нагло спертый с демонстрации */

.filters-price-per-day {
  width: 320px;
}

.filters-price-per-day legend {
  margin-bottom: 10px;
}

.price-controls {
  position: relative;
  height: 33px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  transform: translate(-50%, -50%);
  background: #ffffff;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 62px;
}

.price-controls input {
  width: 60px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  text-transform: uppercase;
}

.range-controls {
  position: relative;
  margin-bottom: 31.5px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  margin-left: 84px;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

/* Фильтры сортировки */

.filter-sort {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-weight: nowrap;
  margin: 0;
  padding: 25px 70px 20px;
  border: none;
}

.filter-sort-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.filter-sort h3 {
  font-size: 12px;
  line-height: 18px;
  margin-right: 40px;
}

.filter-sort ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-sort-btn {
  display: flex;
  margin-right: auto;
  margin-left: 50px;
  align-items: baseline;
}

.filter-sort-btn p {
  margin-right: 40px;
}

.filters-sort-type li {
  border-bottom: 1px dotted #81b3d2;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
  margin-right: 30px;
}

.filters-sort-type li:hover {
  color: #81b3d2;
}

.filters-sort-type .active {
  color: #81b3d2;
  border: none;
}

.filters-sort-type li:active {
  border: none;
  color: #000000;
}

.order-increase,
.order-decrease {
  position: relative;
}

.order-increase::before {
  display: block;
  content: "";
  position: absolute;
  border: 6px solid transparent;
  border-bottom: 11px solid #cacaca;
  bottom: -1px;
  right: 25px;
}

.order-increase:hover::before,
.order-increase:focus::before {
  border-bottom-color: #000000;
}

.order-decrease:hover::before,
.order-decrease:focus::before {
  border-top-color: #000000;
}

.order-increase:active::before {
  border-bottom-color: #81b3d2;
}

.order-decrease:active::before {
  border-top-color: #81b3d2;
}

.order-decrease::before {
  display: block;
  content: "";
  position: absolute;
  border: 6px solid transparent;
  border-top: 11px solid #cacaca;
  bottom: -6px;
  right: 2px;
}

/* Цвет порядка по возрастанию и убывания должен меняться при навешивании класса active в li */

.active .order-decrease::before {
  border-top: 11px solid #81b3d2;
}

.active .order-increase::before {
  border-bottom: 11px solid #81b3d2;
}

.filters-sort-order {
  color: rgba(0, 0, 0, 0.3);
}

.filters-sort-order .active {
  color: #81b3d2;
}

/*Список гостиниц на странице гостиниц*/

.hotels-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotels-items > li {
  display: flex;
  justify-content: space-between;
  padding: 30px 72px 22px;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

.hotels-items > li:first-child {
  border-top: 1px solid #e5e5e5;
}

.hotel-item-image {
  margin-right: 30px;
  min-height: 90px;
}

.hotel-items h3 {
  margin: 0;
  margin-top: -9px;
  font-size: 21px;
  line-height: 26px;
}

.hotel-items p {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.hotel-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 87px;
  margin-top: -5px;
}

.type-and-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.hotel-item-info p:last-child {
  margin-right: 79px;
}

.hotel-item-info h3 a {
  color: #000000;
}

.btn-item-info a {
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  padding: 4px 17px;
}

.btn-item-info a:first-of-type {
  background-color: #81b3d2;
  margin-right: 2px;
}

.btn-item-info a:first-of-type:hover,
.btn-item-info a:first-of-type:focus {
  background-color: #669ec0;
}

.btn-item-info a:first-of-type:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.btn-item-info a:last-of-type {
  background-color: #766357;
}

.btn-item-info a:last-of-type:hover,
.btn-item-info a:last-of-type:focus {
  background-color: #604e43;
}

.btn-item-info a:last-of-type:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotel-item-rate {
  display: flex;
  position: relative;
  align-items: flex-end;
  min-height: 85px;
  margin-left: auto;
}

.range {
  line-height: 21px;
  font-weight: 400;
  color: #666666;
  padding: 4px 14px;
  background-color: #f2f2f2;
}

.stars {
  display: flex;
  position: absolute;
  padding: 0;
  margin: 0;
  min-width: 120px;
  height: 20px;
  top: -10px;
  left: -10px;
  list-style: none;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.stars__item {
  display: block;
  width: 18px;
  height: 20px;
  background: url(../img/star.svg) no-repeat 50% 50%;
  margin-left: 5px;
}

.star-1 {
  background: url(../img/star.svg) no-repeat 100% 25%;
}

.star-2 {
  background: url(../img/star.svg) no-repeat 100% 25%,
    url(../img/star.svg) no-repeat 78% 25%;
}

.star-2 {
  background:
    url(../img/star.svg) no-repeat 100% 25%,
    url(../img/star.svg) no-repeat 78% 25%;
}

.star-3 {
  background:
    url(../img/star.svg) no-repeat 100% 25%,
    url(../img/star.svg) no-repeat 78% 25%,
    url(../img/star.svg) no-repeat 55% 25%;
}

.star-4 {
  background:
    url(../img/star.svg) no-repeat 100% 25%,
    url(../img/star.svg) no-repeat 78% 25%,
    url(../img/star.svg) no-repeat 54% 25%,
    url(../img/star.svg) no-repeat 30% 25%;
}

.star-5 {
  background:
    url(../img/star.svg) no-repeat 100% 25%,
    url(../img/star.svg) no-repeat 78% 25%,
    url(../img/star.svg) no-repeat 54% 25%,
    url(../img/star.svg) no-repeat 30% 25%,
    url(../img/star.svg) no-repeat 9% 25%;
}
