body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0 white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/* Навигация */

.main-nav {
  position: relative;
  margin: 0;
  display: flex;
  justify-content: space-between;
  min-height: 55px;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.main-nav .main-header-logo {
  position: absolute;
  left: 600px;
  transform: translate(-50%);
  z-index: 1;
}

.site-navigation {
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.site-navigation li {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:first-child {
  margin-left: 72px;
}

.site-navigation a:last-child {
  margin-right: 72px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation current-page {
  color: #766357;
}

/* Контейнер */

.container {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
}

/* Промо на главной странице */
.promo {
  display: flex;
  position: relative;
  justify-content: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 725px;
  text-align: center;
  background: url("../img/promo.jpg") no-repeat 50% 116%;
}

.promo::before {
  position: absolute;
  display: block;
  content: "";
  min-height: 60px;
  width: 100%;
  background: url("../img/mask-welcome.svg") no-repeat 50% 50%;
  top: 450px;
  left: 0;
}

.promo-text {
  background-color: #ffffff;
  padding-top: 45px;
  padding-bottom: 55px;
}

.promo p {
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0;
}

.promo p:first-child {
  font-size: 21px;
  line-height: 26px;
}

.promo p:last-child {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;

}

/* Преимущества */

.features {
  display: flex;
  flex-wrap: wrap;
}

.feature-1,
.feature-2 {
  display: flex;
}

.feature-1 .feature-image {
  flex-grow: 2;
  background: url("../img/feature-1.jpg") no-repeat 50% 50%;
}

.feature-1,
.feature-2 {
  margin: 0;
  flex-grow: 1;
}

.feature {
  min-height: 255px;
}

.feature h3,
.feature h4 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  margin: 0 70px;
}

.feature-text span,
.list-items span {
  padding: 20px 0;
}

.feature span,
.feature p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  margin: 0;
}

.feature-text,
.list-items .feature {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  box-sizing: border-box;
  padding: 50px;
  text-align: center;
}

.feature-text {
  background-color: #81b3d2;
}

.feature-text h3,
.feature-text span,
.feature-text p {
  color: #ffffff;
}

.list-features {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* тут я не мог подобрать такой селектор, чтобы подобраться именно к первому списку, написал доп. класс "не-число" */
.list-features .not-a-number {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-end;
  padding: 160px 50px 80px;
}

.not-a-number h4 {
  margin-bottom: 30px;
}

.feature-2 .feature-image {
  order: -1;
  flex-grow: 2;
  background: url("../img/feature-2.jpg") no-repeat 50% 50%;
  /* Ниже свойство из-которого */
  background-size: cover;
}

.list-items {
  background-color: #eeeeee;
}

.list-features span {
  color: #333333;
}

/*Кнопка и форма поиска гостиницы на главной*/

.search-hotels-form > p {
  margin-top: 25px;
  margin-bottom: 45px;
}

.search-modal {
  display: block;
  position: relative;
  width: 568px;
  margin: 0 auto;
}

.search-hotels-form {
  padding-top: 50px;
  text-align: center;
}

.search-hotels {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 55px;
  background-color: #ffffff;
}



.search-hotels-form h2 {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
}

.search-hotels-form h2 + p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.search-hotels-form .button-search {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #766357;
  border: none;
}

.search-hotels-form .button-search:hover,
.search-hotels-form .button-search:focus {
  background-color: #604e43;
}

.search-hotels-form .button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-hotels-form fieldset {
  display: flex;
  border: none;
  font-weight: wpap;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.search-hotels p {
  display: flex;
  box-sizing: border-box;
  margin: 20px 0;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 20px;
}

.search-hotels-form input {
  font: inherit;
  border: none;
  flex-grow: 1;
  background-color: #f2f2f2;
  padding: 8px 0;
  margin-left: 25px;
  /* Почему-то поля растут вправо при задании отступов, не понимаю почему
  margin-right: 10px;*/
}

.search-hotels-form input:hover {
  background-color: #ebebeb;
}

.search-hotels-form input:focus {
  background-color: #ffffff;
}

.search-hotels-form .button-submit {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  width: 100%;
  padding: 17px;
  margin-top: 60px
}

.search-hotels-form .button-submit:hover {
  background-color: #669ec0;
}

.search-hotels-form .button-submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/* Карта на главной */

.map-hotels {
  min-height: 473px;
  background: #00ff00 url("../img/map.jpg") center 0%;
}

/* Футер */

.main-footer .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 120px;
}

.main-footer p:first-child {
  font-size: 21px;
  line-height: 26px;
}

.social-links {
  display: flex;
  min-width: 150px;
  justify-content: space-between;
  list-style: none;
}

.social-links a {
  display: flex;
  color: #ffffff;
  background-color: #81b3d2;
  width: 45px;
  height: 47px;
  justify-content: center;
  align-items: center;
}

.social-links a:hover {
  background-color: #669ec0;
}

.social-links a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.social-links .twitter {
  background: #81b3d2 url(../img/social_tw.svg) no-repeat 50% 50%;
}

.social-links .facebook {
  background: #81b3d2 url(../img/social_fb.svg) no-repeat 50% 50%;
}

.social-links .youtube {
  background: #81b3d2 url(../img/social_youtube.svg) no-repeat 50% 50%;
}

/* Возникли сложности с SVG не хочет отображаться встроенный в сам код, но тогда придется пределывать или для одной картинки вырезать сразу три с разными цветами*/

.made-by {
  display: flex;
  font-weight: 200;
  align-items: center;
}

.made-by a {
  display: flex;
  width: 115px;
  margin-left: 15px;
  height: 40px;
  justify-content: center;
  align-items: center;
  outline: 2px solid red;
}

.logo-name path,
.logo-name rect{
  fill: #000000;
}

.logo-name:hover path,
.logo-name:focus path,
.logo-name:hover rect,
.logo-name:focus rect {
  fill: #81b3d2;
}

.logo-name:active path,
.logo-name:active rect{
  fill: #bdbbbc;
}


/* Стилизации фильтров на внутренней странице*/

.filters fieldset {
  border: none;
  margin-right: 115px;
}

.filters fieldset:last-child {
  margin-left: auto;
  margin-right: 0;
}

.filters legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.select-filters {
  display: flex;
  justify-content: space-between;
  padding: 30px 70px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
  background-color: #30626b;
}

.filters button,
.filters input {
  font: inherit;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
}

.filters button:hover {
  color: #000000;
  background-color: #ffffff;
}

.filter-sort legend {
  font-size: 21px;
  line-height: 26px;
}

.filter-sort p {
  font-size: 12px;
  line-height: 18px;
}

.filter-sort ul {
  list-style: none;
}

.filters-sort-type li {
  border-bottom: 1px dotted #81b3d2;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
}

.filters-sort-type li:hover {
  color: #81b3d2;
}

.filters-sort-type .active {
  color: #81b3d2;
  border: none;
}

.filters-sort-type li:active {
  border: none;
  color: #000000;
}

.filters-sort-order {
  color: rgba(0, 0, 0, 0.3);
}

.filters-sort-order .active {
  color: #81b3d2;
}

/*Список гостиниц на странице гостиниц*/

.hotels-items {
  list-style: none;
  margin: 0;
}

.hotels-items li {
  display: flex;
  justify-content: space-between;
  padding: 30px 70px;
  align-items: center;
  /* Тут не знаю как выровнять картинку и текст в одну линию */
}

.hotel-item-image {
  margin-right: 30px;
  min-height: 90px;
}

.hotel-items h3 {
  margin: 0;
  margin-bottom: 13px;
  font-size: 21px;
  line-height: 26px;
}

.hotel-items p {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.hotel-item-info a {
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
}

.hotel-item-info a:first-of-type {
  background-color: #81b3d2;
}

.hotel-item-info a:first-of-type:hover {
  background-color: #669ec0;
}

.hotel-item-info a:first-of-type:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.hotel-item-info a:last-of-type {
  background-color: #766357;
}

.hotel-item-info a:last-of-type:hover {
  background-color: #604e43;
}

.hotel-item-info a:last-of-type:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotel-item-rate {
  margin-left: auto;
}

.hotel-item-rate span {
  line-height: 21px;
  font-weight: 400;
  color: #666666;
  background-color: #f2f2f2;
}
